h1{
    font-size: 22px;
    font-family: "Roboto", Roboto, sans-serif;
    color: #1D242B;
    font-weight: 400;
    margin: 0 0 20px;
}

h2{
    font-size: 18px;
    font-family: "Roboto", Roboto, sans-serif;
    color: #1D242B;
    font-weight: 400;
}
