
.dashboard-course-info-container{
    background-color: #0077C0;
    padding: 10px;
}

.dashboard-course-info{
    color: #FFFFFF;
    margin: 0;
    font-size: 14px;
}

.dashboard-course-name-container{
    padding: 10px;
    background-color: #C7EEFF;
}

.dashboard-course-name{
    font-size: 18px;
    margin: 0;
}

.dashboard-course-description{
    margin: 0 0 10px;
}

.dashboard-course-link{
    text-decoration: none;
    color: #1D242B;
    width: 30%;
    min-width: 240px;
    margin: 0 30px 30px 0;
}
